*::selection{background-color:#f23dc2; color:white;}

html{
  font-family: 'Noto Sans KR', sans-serif, fontawesome;
  color: #222;
  scroll-behavior: smooth;
  box-sizing: border-box;}
  
/* TOP BUTTON */

.goto-top{
  font-family: fontawesome;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px 20px;
  font-size: 20px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: 0.3s;
  z-index: 100;}

  .goto-top:hover{
  background-color: #f23dc2;
  color: white;}

/* HEDAER */

header{
  width: 100%;
  position: fixed;
  height: 160px;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  z-index: 100;}

#menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  transition: 0.5s;}

.logo{
  margin-top: 50px;
  width: auto;
  height: auto;
  color: black;}

#menu a{
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 2px 30px;
  font-weight: 400;
  list-style: none;}

  #menu a:hover{
  font-weight: bold;
  background-color: #f23dc2;
  color: #fff;
  border-radius: 30px;}

/* MAIN */

main{
  position: relative;
  height: 600px;
  background: url(../img/visual_main.gif) no-repeat center/cover fixed;
  transition: 0.35s;}

  main:hover{
  background: url(../img/visual_main.gif) no-repeat center/cover fixed;
  filter: grayscale(50%);
  z-index: 0;}

main:before{
  position: absolute;
  display: block;
  content:'지친 피부에 충전이 필요한 지금,';
  top: 75%;
  left: 15%;
  font-size: 40px;
  color: #000;}

  main:hover:before{color:#fff;}

/* SECTION */

hr{margin-top: 100px;
  border: 0px;}

h1{
  text-align: center;
  margin: 100px 300px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: solid 5px overline #C43BF1;}

h2{
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}

/* S1 */

#s1 .information{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;}

#info-1{
  background:url(../img/main_lush_info@3x.jpg) no-repeat center/cover;
  width: 400px;
  height: 500px;
  transition: 0.25s;}

  #info-1:hover{transform:translateY(-2%);
  box-shadow: 0 10px 2px rgba(196,59,241,0.8);}

.info1,.info2,.info3{
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0.5),transparent);
  transition: 0.25s;}

#info-2{
  background:url(../img/main_lush_history@3x.jpg) no-repeat center/cover;
  width: 400px;
  height: 500px;
  margin: 0px 20px;
  transition: 0.25s;}

  #info-2:hover{transform:translateY(-2%);
  box-shadow: 0 10px 2px rgba(196,59,241,0.8);}

#info-3{
  background:url(../img/main_lush_brand@3x.jpg) no-repeat center/cover;
  width: 400px;
  height: 500px;
  transition: 0.25s;}

  #info-3:hover{transform:translateY(-2%);
  box-shadow: 0 10px 2px rgba(196,59,241,0.8);}

.information p{
  transform: translateY(300px);
  color: white;
  display: inline-block;
  vertical-align: bottom;
  margin: 20px 20px;}

.information a{
  transform: translateY(300px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 5px;
  border-radius: 20px;
  font-weight: 600;
  margin: 0px 20px;
  color: white;}

  .information a:hover{
  background-color: #C43BF1;
  color: white;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.2);}

/* S2 */

  #s2 .gallary{
  position: relative;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: cover;}

  #s2 .item1,
  #s2 .item2,
  #s2 .item3,
  #s2 .item4{
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;}

  #s2 div>b{
  display: block;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 20px 0px;
  font-weight: 500;}

  #s2 img{
  position: relative;
  width: 300px;
  height: 300px;
  transition: 0.3s;
  padding: 10px 10px;}

  #s2 img:hover{
  transform: scale(1.1);
  filter: contrast(120%);}

/* S3 */

#s3 .service{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  row-gap: 20px;
  transition: 0.5s;}

#s3 img{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  padding-bottom: 10px;
  column-gap: 20px;}

  #s3 img:hover{filter:opacity(0.5);}

#s3 .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;}

#s3 h2{margin: 10px;}

#s3 p{text-align: center;}

/* S4 */

#s4 .gift{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

#s4 .gift-l{
  background: url(../img/main_gift@3x.png) no-repeat center/cover;
  width: 1000px;
  height: 400px;
  background-color: #333;}

#s4 .gift-r{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 400px;
  height: inherit;
  text-align: center;
  margin: auto;}

#s4 .gift-r+div{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#s4 .gift a{
  width: 200px;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 30px;
  border: 1px solid #000;
  transition: 0.3s;}

  #s4 .gift a:hover{
  font-weight: bold;
  background-color: #C43BF1;
  color: #fff;
  border-radius: 20px;}

/* S5 */

#s5 .spa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;}

#s5 .spa-l{
  width: 600px;
  padding: 20px;}

#s5 .spa-l h2{
  text-align: center;
  padding-bottom: 20px;}

#s5 .spa-r{
<<<<<<< HEAD
  background: url(../img/visual_main.gif) no-repeat center/cover;
=======
  background: url(../img/visual_spa@2x.jpg) no-repeat center/cover;
>>>>>>> 3d65a3fadd8176a0fb8cc1889afc6b66b331c5b9
  width: 600px;
  height: 400px;}

#video{margin-bottom: 20px;}
#video iframe{border:none;}

#qna{text-align: center;}

#qna a{
  margin: 20px 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 40px;
  border: 1px solid #000;
  border-radius: 20px;
  font-weight: bold;}

#qna a:hover{
  font-weight: bold;
  background-color: #C43BF1;
  color: #fff;
  border-radius: 20px;}

.end{
  background: url(../img/spa_mo@3x.jpg) no-repeat center/cover;
  width: 100%;
  height: 200px;}

/* footer */

footer{
  width: 100%;
  height: 200px;
  background-color: #333;
  text-align: center;
  color: white;
  font-size: 14px;
  font-style: normal;
  align-items: center;
  padding: 50px 0px;}

address{font-style: normal;}

footer address em{
  font-style: normal;
  color: #f23dc2;}
